@font-face {
  font-family: "Space Grotesk Medium";
  src: url("../assets/fonts/static/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "Space Grotesk Bold";
  src: url("../assets/fonts/static/SpaceGrotesk-Bold.ttf");
}

$font-medium: "Space Grotesk Medium";
$font-bold: "Space Grotesk Bold";