$dark-blue: hsl(219, 43%, 16%);
$grey: hsl(218, 20%, 36%);
$cream: hsl(30, 33%, 93%);
$cream-white: hsl(30, 29%, 97%);
$linear-gradient-1: hsl(264, 100%, 69%);
$linear-gradient-2: hsl(292, 76%, 54%);
$linear-gradient-3: hsl(31, 100%, 65%);
