@use "../util" as u;

main section:not(:last-child) {
  &.hero {
    max-width: 111rem;
    margin: 0 auto;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border: 3px solid blue;

    @include u.breakpoint(medium) {
      flex-direction: row;
      height: 48.2rem;
      gap: 0;
      // align-items: center;
    }

    .hero__content {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      align-items: flex-start;
      max-width: 57.3rem;
      // flex-basis: 57.3rem;
      border: 3px solid olive;

      @include u.breakpoint(medium) {
        align-self: center;
      }

      p {
        color: u.$grey;
        line-height: 1.75;
        letter-spacing: 0.09px;

        @include u.breakpoint(medium) {
          width: 35rem;
        }
      }

      
    }

    h1 {
      font-size: 3.8rem;
      line-height: 1.143;
      letter-spacing: -0.53px;
      font-weight: 400;

      @include u.breakpoint(medium) {
        font-size: 5.6rem;
        line-height: 1.143;
        letter-spacing: -0.78px;
      }

      @include u.breakpoint(large) {
        font-size: 7.2rem;
      }

      span {
        font-weight: 700;
        &.decorate-text {
          display: inline-block;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: -3rem;
            height: 1.9rem;
            width: 15.147rem;
            display: inline-block;
            background-image: url("../assets/pattern-curved-line-1.svg");            
            background-position: top;
            background-size: cover;
          }

          @include u.breakpoint(medium) {
            &::before {
              width: 23.119rem;
              height: 2.9rem;
              top: -4rem;

            }
          }
        }
      }

    }

    @include u.breakpoint(medium) {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    @include u.breakpoint(large) {
      margin: 0 auto;
    }

    a {
      background: u.$dark-blue;
      font-size: 1.8rem;
      color: u.$cream-white;
      font-weight: 700;
      line-height: 1.78;
      letter-spacing: -0.18px;
      padding: 1.5rem 3.2rem;
      border-radius: 1rem;
      transition: background 300ms;

      &:hover {
        background: linear-gradient(to bottom right, u.$linear-gradient-1, u.$linear-gradient-2, u.$linear-gradient-3);
      }
    }

    .hero__image {
      width: 100%;
    }

    @include u.breakpoint(medium) {
      .hero__image {
        // flex-basis: 28.1rem;
        // width: 35vw;
        // flex-basis: 28.1rem
        height: auto;
        // justify-self: stretch;
        position: relative;
        // left: -10.5rem;
        z-index: -1
      }
    }
  }
}